<main>
    <h1>Create New Post</h1>
  <script src="https://cdn.ckeditor.com/ckeditor5/20.0.0/classic/ckeditor.js"></script>
               
 <div class="body">
     <form action="/new" method="POST">
        <label for="title">Post Title</label>
        <input type="text" name="title">
        {{!-- <div id="editor">This is some sample content.</div> --}}
        <textarea id="editor" name="editor"></textarea>
        <input type="submit" value="Create">
     </form>
<script>
    ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .then( editor => {
                    console.log( editor );
            } )
            .catch( error => {
                    console.error( error );
            } );
    custom
</script>
 </div>
</main>