<main>
    <h1>Create New Post</h1>
   <script src="https://cdn.ckeditor.com/4.9.1/standard/ckeditor.js"></script>
               
 <div class="body">
     <form action="/new" method="POST" enctype="multipart/form-data">
        <label for="title">Post Title</label>
        <input type="text" name="title">
        <label for="title">Post Photo</label>
        <input type="file" name="postImage">
        <label for="title">Category</label>
        <select name="category" id="">
            <option value="1">Web Dev</option>
            <option value="2">Hacking</option>
            <option value="3">Marketing</option>
            <option value="4">Uncategorize</option>
        </select>
        <textarea name="content" id="editor"></textarea>
        <input type="submit" value="Create">
     </form>
<script>
   CKEDITOR.replace( 'editor' );
</script>
 </div>
</main>